<%- include("includes/head",{pageTitle:"An error occured!"}) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include("includes/header") %>
    <main>
        <h1>Not authenticated!!!</h1>
        <p>Unfortunately, you are not authenticated maybe.</p>
        <p><a class="btn" href="/">back to safety</a></p>
    </main>
    <%- include("includes/footer") %>
    