<%- include("includes/head",{pageTitle:"An error occured!"}) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include("includes/header") %>
    <main>
        <h1>Something went wrong!!!</h1>
        <p>Unfortunately, Something went wrong - please try again later.</p>
        <p><a class="btn" href="/">back to safety</a></p>
    </main>
    <%- include("includes/footer") %>
    