h1 {
  text-align: center;
  color: var(--color-gray-300);
}

form {
  max-width: 25rem;
  margin: var(--space-8) auto;
  padding: var(--space-4);
  background-color: var(--color-gray-600);
  border-radius: var(--border-radius-medium);
  /* text-align: center; */
}

form a {
  color: var(--color-primary-200);
}

form a:hover,
form a:active {
  color: var(--color-primary-400);
}

.alert {
  border-bottom: var(--border-radius-small);
  background-color: var(--color-error-100);
  color: var(--color-error-500);
  padding: var(--space-4);
}

.alert h2 {
  font-size: 1 rem;
  text-transform: uppercase;
  margin: var(--space-2) 0;
}

.alert p{
  margin: var(--space-2);
}
